/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

body {
  background: white;
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: lightgrey;
  color: black;
  display: flex;
  height: 40px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 2;
  margin: 1em;
}

button {
  background-color:lightpink;
  border: none;
  color: white;
  padding: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

img {
  height:200px
}

.nav-item {
  padding: 3px;
  border-radius: 3px;
  background-color: darkgray;
  margin: 10px
} 

#student-list {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 50px;
  margin: 50px;
  justify-content: space-between;
  text-align: center;
}

#campus-list {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  padding: 30px;
  margin: 30px;
  justify-content: space-between;
  text-align: center;
}

.update-form {
  background-color: lightgrey;
  text-align: center;
}